<!DOCTYPE html>
{% load static %}
<html>
    <head>
        {% load bootstrap5 %}

        <meta charset="utf-8">
        <title>Rolsa Technology</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/nerdfont.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    </head>
    <body>
        {% include "components/navbar.html" %}
        {% block content %}{% endblock content %}
    </body>
</html>