{% extends "pages/base.html" %}
{% load static %}
{% block content %}
<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="background-image: url('{% static "images/hero.jpg" %}');">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
            <h1 class="mb-3">Rolsa Technology</h1>
            <h4 class="mb-3">Innovative green energy solutions for individuals</h4>
            <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button">Book a consultation</a>
        </div>
    </div>
</div>

<!-- Hero -->
{% endblock %}